*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

button,
input[type="button"]{
    background-color: #20693d;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

a{
    text-decoration: none;
    color: #ffffff;
}
.color-w{
    color: #ffffff;
}
.color-g{
    color: #20693d;
}

h2.title{
    margin-bottom: 20px;
    border-bottom: 1px solid #d7d8d7 ;
}

body{
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: flex-start;
}

.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}
.hidden{
    display: none;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #20693d;
    display: flex;
    justify-content: space-between;
}
.header .logo img {
    height: 86%;
    width: auto;
    padding: 4px 5px;
}
.header .navbar {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.header .navbar .menu {
    list-style: none;
    display: flex;
}
.header .navbar .menu .menu-item{
    margin: 0 10px;
}
.header .navbar .menu .menu-item.active{
    border-bottom:  2px solid #ffffff;
    cursor: pointer;
}
.header .header-buttons{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding-right: 10px;
    gap: 15px;
}
.header .header-buttons i{
    cursor: pointer;
}
/* END HEADER */

/* CHARACTER LIST */
.character-container{
    margin-top: 60px;
    background-color: #ecf3ed;
    height:100%;
}
.character-pill {
    width: 100%;
    padding: 30px 50px;
}
.character-pill-container{
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;
    cursor: pointer;
}
.character-pill-container:hover{
    width: 101%;
    box-shadow: 3px 3px 7px rgba(1, 0, 0, 0.3);
}
.character-pill .character-header img{
    width: 100%;
    height: auto;
}
.character-pill .character-body{
    width: 100%;
    padding:5px 10px;
    text-align: center;
}
.character-pill .character-body h3{
    margin-bottom: 8px;
}
.character-pill .character-body h5{
    margin-bottom: 5px;
    font-weight:lighter;
}
.character-pill .character-body .price{
    font-size: 13px;
    font-weight: bold;
}
.character-pill .character-body .character-summary{
    display: flex;
    justify-content:center;
}
.character-pill .character-body .character-summary .character-summary-btn{
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}
/* END CHARACTER LIST */

/* SHOPPING LIST */
.shopping-list-container{
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #ffffff;
    display: flex;
    position: fixed;
    right: -100vw;
    top: 60px;
    transition: right 1s;
    padding: 30px 15px;
}
.show{
    right: 0vw;
    box-shadow: 10px 10px 20px rgba(5, 0, 0, 0.9); 
}
.shopping-list-container .title{
    text-align: center;
    width: 100%;
}
.shopping-list-container .shopping-list-table{
    width: 100%;
}
.th-end{
    width:min-content;
}
.remove-item-from-cart,
.add-item-to-cart{
    width: 20px;
    height: 20px;
    padding: initial;
}
.shopping-list-container .shopping-list-table td {
    height: 45px;
    background: #f4f4f4;
    padding-left: 5px;
    border-radius: 3px;
}
.shopping-list-total {
    height: 45px;
    padding: 10px;
    color: #20693d;
    width: 100%;
    text-align: end;
    align-content: end;
    font-size: 14px;
    font-weight: 600;
}
button#doOrderBtn {
    margin-top: 5px;
    font-size: 20px;
    color: #ffffff;
}
button#doOrderBtn:hover {
    box-shadow: 2px 2px 3px rgba(1, 0, 0, 0.4); 
    width: 103%;
}
/* END SHOPPING LIST */

/* Media queries */
@media (min-width: 768px){
    .character-container {
        padding: 0px 80px;
    }
    .character-pill {
        width: 50%;
    }
    .shopping-list-container{
        width: 75vw;
    }
    .header .logo img{
        height: 100%;
        padding-left: 40px;
    }

    .header .header-buttons{
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        padding-right: 40px;
        gap: 40px;
    }
}

@media (min-width: 1200px){
    .character-pill {
        width: 25%;
    }
    .shopping-list-container{
        width: 33%;
    }
}
/* END Media queries */
